.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #291010;
    color: #fff;
 
    box-shadow: inset;
  
  }
  
  
  .navbar-left {
    display: flex;
    align-items: center;
    color: #fff;
  }

  .navbar-left:hover {
    display: flex;
    align-items: center;
    transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: #ffbf00;
    

  }
  
  .navbar-right {
    font-size: 0;
    line-height: 0;
  }
  .navbar-right a {
    margin-left: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    position: relative;
    display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  }

  .navbar-right a:hover {

    transform: translateX(5px);
  }
  
  
  .navbar-right a.active {
    color: #fff;
    text-decoration: underline;
}