body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #ec1313, #b30126, #780d26, #3e101c, #000000);

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh
}

.card-grid {
  display:grid;
  grid-template-columns: 450px 450px 450px;
  justify-content: center;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;

}